<div>
    <form name="signUpForm" method="POST" enctype="multipart/form-data">
        <input type="text" [(ngModel)]="user.username" placeholder="username" name="username">
        <input type="password" [(ngModel)]="user.password" placeholder="password" name="password">
        <input type="password" [(ngModel)]="user.repassword" placeholder="re-enter password" name="repassword">
        <input type="file" (change)="onFileSelect($event.target.files)" [(ngModel)]="user.photo" placeholder="photo" name="photo">
        <button (click)="signUpUser(user)">
            Sign up
        </button>
    </form>
    <p>Already have an account? Click <a routerLink="/login" routerLinkActive="active">here</a>
         to view task dashboard</p>
    
</div>